{% extends 'base.html' %}

{% block title %}{{ _("Bevbox Privacy Policy") }}{% endblock %}
{% block og_url %}https://bevbox.com.ua/privacy-policy/{% endblock %}
{% block og_title %}{{ _("Bevbox Privacy Policy") }}{% endblock %}
{% block og_description %}{{ _("Privacy Policy will help you understand what personal data we collect, why we collect it and what we do with it.") }}{% endblock %}
{% block description %}{{ _("Privacy Policy will help you understand what personal data we collect, why we collect it and what we do with it.") }}{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/tild6264-3136-4638-a430-623665626365__giammarco-boscaro-38.jpg') }}{% endblock %}
{% block canonical %}privacy-policy{% endblock %}

{% block body %}
<body class="t-body" style="margin:0;">
  <div
    id="allrecords"
    class="t-records"
    data-hook="blocks-collection-content-node"
    data-tilda-page-alias="privacy-policy"
  >
    <div id="rec81539362" class="r t-rec" style=" " data-record-type="454">
      <!-- T454 -->
      <div id="nav81539362marker"></div>
      <div
        id="nav81539362"
        class="t454 t454__positionabsolute "
        style="background-color: rgba(20,20,20,0.0); height:100px; "
        data-bgcolor-hex="#141414"
        data-bgcolor-rgba="rgba(20,20,20,0.0)"
        data-navmarker="nav81539362marker"
        data-appearoffset=""
        data-bgopacity-two="100"
        data-menushadow="0"
        data-bgopacity="0.0"
        data-bgcolor-rgba-afterscroll="rgba(20,20,20,1)"
        data-menu-items-align=""
        data-menu="yes"
      >
        <div class="t454__maincontainer " style="height:100px;">
          <div class="t454__logowrapper">
            <div class="t454__logowrapper2">
              <div style="display: block;">
                <a href="{{ url_for('app.home') }}" style="color:#ffffff;">
                  <img
                    src="{{ url_for('static', filename='images/icon.svg') }}"
                    class="t454__imglogo t454__imglogomobile"
                    imgfield="img"
                    style="max-width: 150px; width: 150px;"
                    alt="Bevbox"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="t454__leftwrapper"
            style=" padding-right:125px; text-align: left;"
          >
            <div class="t454__leftmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
          <div
            class="t454__rightwrapper"
            style=" padding-left:125px; text-align: right;"
          >
            <div class="t454__rightmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
        </div>
      </div>
      <style>
        @media screen and (max-width: 980px) {
          #rec81539362 .t454__leftcontainer {
            padding: 20px;
          }
        }
        @media screen and (max-width: 980px) {
          #rec81539362 .t454__imglogo {
            padding: 20px 0;
          }
        }
      </style>
      <script type="text/javascript">
        $(document).ready(function() {
          t454_highlight();
        });
        $(window).resize(function() {
          t454_setBg("81539362");
        });
        $(document).ready(function() {
          t454_setBg("81539362");
        });
      </script>
      <!--[if IE 8]>
        <style>
          #rec81539362 .t454 {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9141414', endColorstr='#D9141414');
          }
        </style>
      <![endif]-->
    </div>
    <div
      id="rec81539381"
      class="r t-rec"
      style=" "
      data-animationappear="off"
      data-record-type="18"
    >
      <!-- cover -->
      <div
        class="t-cover"
        id="recorddiv81539381"
        bgimgfield="img"
        style="height:60vh; background-image:url('{{ url_for('static', filename='images/tild3436-3633-4365-a131-306637333730__-__resize__20x__giammarco-boscaro-38.jpg') }}');"
      >
        <div
          class="t-cover__carrier"
          id="coverCarry81539381"
          data-content-cover-id="81539381"
          data-content-cover-bg="{{ url_for('static', filename='images/tild3436-3633-4365-a131-306637333730__giammarco-boscaro-38.jpg') }}"
          data-content-cover-height="60vh"
          data-content-cover-parallax=""
          style="height:60vh;background-attachment:scroll; "
        ></div>
        <div
          class="t-cover__filter"
          style="height:60vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#7f000000');"
        ></div>
        <div class="t-container">
          <div class="t-col t-col_12 ">
            <div class="t-cover__wrapper t-valign_middle" style="height:60vh;">
              <div class="t001 t-align_center">
                <div class="t001__wrapper" data-hook-content="covercontent">
                  <h1
                    class="t001__title t-title t-title_xl"
                    style=""
                    field="title"
                  >
                    {{ _("PRIVACY POLICY") }}
                  </h1>
                  <span class="space"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="rec81539434"
      class="r t-rec t-rec_pt_60 t-rec_pb_60"
      style="padding-top:60px;padding-bottom:60px; "
      data-record-type="106"
    >
      <!-- T004 -->
      <div class="t004">
        <div class="t-container ">
          <div class="t-col t-col_8 t-prefix_2">
            <div field="text" class="t-text t-text_md " style="">
              <strong>{{ _("Effective date") }}</strong
              >: {{ _("December 31, 2018") }}.<br /><br />
              <strong>Bevbox</strong>
              {{ _('("us", "we", or "our") operates the') }}
              <a href="https://bevbox.com.ua" style="">https://bevbox.com.ua</a>
              {{ _('website (the "Service")') }}.<br /><br />
              {{
                _(
                  "This page informs you of our policies regarding the
                            collection, use, and disclosure of personal data when you use our Service and the choices
                            you have associated with that data."
                )
              }}<br /><br />
              {{
                _(
                  "We use your data to provide and improve the
                            Service. By using the Service, you agree to the collection and use of information in
                            accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in
                            this Privacy Policy have the same meanings as in our"
                )
              }}
              <a href="{{ url_for('app.terms_of_use') }}" style="">{{
                _("Terms of Use")
              }}</a
              >.<br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _(
                    "Information
                                    Collection And Use"
                  )
                }}</span></strong
              >
              <br /><br />
              {{
                _(
                  "We collect several different types
                            of information for various purposes to provide and improve our Service to you"
                )
              }}.<br /><br />
              <strong
                ><span data-redactor-tag="span" style="font-size: 18px;">{{
                  _("Types of Data Collected")
                }}</span></strong
              ><br /><br />
              <strong>{{ _("Personal Data") }}</strong
              ><br /><br />{{
                _(
                  'While using our Service, we may ask you to
                            provide us with certain personally identifiable information that can be used to contact or
                            identify you ("Personal Data"). Personally identifiable information may include, but is not
                            limited to'
                )
              }}:<br />
              <ul>
                <li>{{ _("Email address") }}</li>
                <li>{{ _("First name and last name") }}</li>
                <li>{{ _("Phone number") }}</li>
                <li>
                  {{ _("Address, State, Province, ZIP/Postal code, City") }}
                </li>
                <li>{{ _("Cookies and Usage Data") }}</li>
              </ul>
              <strong><br />{{ _("Usage Data") }}</strong
              ><br /><br />{{
                _(
                  'We may also collect information how the
                            Service is accessed and used ("Usage Data"). This Usage Data may include information such
                            as your computer\'s Internet Protocol address (e.g. IP address), browser type, browser
                            version, the pages of our Service that you visit, the time and date of your visit, the time
                            spent on those pages, unique device identifiers and other diagnostic data.'
                )
              }}<br /><br />
              <strong>{{ _("Tracking & Cookies Data") }}</strong
              ><br /><br />{{
                _(
                  "We use cookies and similar tracking
                            technologies to track the activity on our Service and hold certain information."
                )
              }}<br /><br />
              {{
                _(
                  "Cookies are files with small amount of data which may include an anonymous unique
                            identifier. Cookies are sent to your browser from a website and stored on your device.
                            Tracking technologies also used are beacons, tags, and scripts to collect and track
                            information and to improve and analyze our Service."
                )
              }}<br /><br />
              {{
                _(
                  "You can instruct your
                            browser to refuse all cookies or to indicate when a cookie is being sent. However, if you
                            do not accept cookies, you may not be able to use some portions of our Service."
                )
              }}<br /><br />
              {{ _("Examples of Cookies we use:") }}<br />
              <ul>
                <li>
                  <strong>{{ _("Session Cookies.") }}</strong>
                  {{ _("We use Session Cookies to operate our Service.") }}
                </li>
                <li>
                  <strong>{{ _("Preference Cookies.") }}</strong>
                  {{
                    _(
                      "We use Preference Cookies to remember your
                                    preferences and various settings."
                    )
                  }}
                </li>
                <li>
                  <strong>{{ _("Security Cookies.") }}</strong>
                  {{ _("We use Security Cookies for security purposes") }}
                </li>
              </ul>
              <br /><strong
                ><span style="font-size: 24px;" data-redactor-tag="span"
                  ><strong> {{ _("Use of Data") }}</strong></span
                ><span style="font-size: 24px;"
                  ><strong></strong><strong></strong><strong></strong></span
                ><strong></strong></strong
              ><strong></strong><br /><br />
              {{ _("Bevbox uses the collected data for various purposes:")
              }}<br />
              <ul>
                <li>{{ _("To provide and maintain the Service") }}</li>
                <li>{{ _("To notify you about changes to our Service") }}</li>
                <li>
                  {{
                    _(
                      "To allow you to participate in interactive features of our Service when you choose
                                    to do so"
                    )
                  }}
                </li>
                <li>{{ _("To provide customer care and support") }}</li>
                <li>
                  {{
                    _(
                      "To provide analysis or valuable information so that we can improve the Service"
                    )
                  }}
                </li>
                <li>{{ _("To monitor the usage of the Service") }}</li>
                <li>
                  {{ _("To detect, prevent and address technical issues") }}
                </li>
              </ul>
              <br />
              <strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _("Transfer Of Data")
                }}</span></strong
              ><br /><br />
              {{
                _(
                  "Your information, including Personal Data, may be transferred to — and maintained on —
                            computers located outside of your state, province, country or other governmental
                            jurisdiction where the data protection laws may differ than those from your jurisdiction."
                )
              }}<br /><br />
              {{
                _(
                  "If you are located outside Ukraine and choose to provide information to us, please note
                            that we transfer the data, including Personal Data, to Ukraine and process it there."
                )
              }}<br /><br />
              {{
                _(
                  "Your consent to this Privacy Policy followed by your submission of such information
                            represents your agreement to that transfer."
                )
              }}<br /><br />{{
                _(
                  "Bevbox will take all steps
                            reasonably necessary to ensure that your data is treated securely and in accordance with
                            this Privacy Policy and no transfer of your Personal Data will take place to an
                            organization or a country unless there are adequate controls in place including the
                            security of your data and other personal information."
                )
              }}<br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _("Disclosure Of Data")
                }}</span></strong
              ><br /><br />
              <strong
                ><span data-redactor-tag="span" style="font-size: 18px;">{{
                  _("Legal Requirements")
                }}</span></strong
              ><br /><br />
              {{
                _(
                  "Bevbox may disclose your Personal Data in the good faith belief that such action is
                            necessary to:"
                )
              }}<br />
              <ul>
                <li>{{ _("To comply with a legal obligation") }}</li>
                <li>
                  {{
                    _("To protect and defend the rights or property of Bevbox")
                  }}
                </li>
                <li>
                  {{
                    _(
                      "To prevent or investigate possible wrongdoing in connection with the Service"
                    )
                  }}
                </li>
                <li>
                  {{
                    _(
                      "To protect the personal safety of users of the Service or the public"
                    )
                  }}
                </li>
                <li>{{ _("To protect against legal liabilit") }}</li>
              </ul>
              <br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _("Security Of Data")
                }}</span
                ><br /></strong
              ><br />
              {{
                _(
                  "The security of your data is important to us, but remember that no method of transmission
                            over the Internet, or method of electronic storage is 100% secure. While we strive to use
                            commercially acceptable means to protect your Personal Data, we cannot guarantee its
                            absolute security."
                )
              }}<br /><br />
              <strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _("Service
                                    Providers")
                }}</span
                ><br /></strong
              ><br />{{
                _(
                  'We may employ third party companies and
                            individuals to facilitate our Service ("Service Providers"), to provide the Service on our
                            behalf, to perform Service-related services or to assist us in analyzing how our Service is
                            used.'
                )
              }}<br /><br />{{
                _(
                  "These third parties have access to your Personal Data only to perform
                            these tasks on our behalf and are obligated not to disclose or use it for any other
                            purpose."
                )
              }}<br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 18px;">{{
                  _("Analytics")
                }}</span></strong
              ><br /><br />
              {{
                _(
                  "We may use third-party Service Providers to monitor and analyze the use of our Service."
                )
              }}<br /><br />
              <ul>
                <li>
                  <strong>{{ _("Google Analytics") }}</strong
                  ><br /><br />{{
                    _(
                      "Google Analytics is a web analytics
                                    service offered by Google that tracks and reports website traffic. Google uses the
                                    data collected to track and monitor the use of our Service. This data is shared
                                    with other Google services. Google may use the collected data to contextualize and
                                    personalize the ads of its own advertising network."
                    )
                  }}<br /><br />{{
                    _(
                      "You can opt-out of
                                    having made your activity on the Service available to Google Analytics by
                                    installing the Google Analytics opt-out browser add-on. The add-on prevents the
                                    Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing
                                    information with Google Analytics about visits activity."
                    )
                  }}<br /><br />{{
                    _(
                      "For more
                                    information on the privacy practices of Google, please visit the Google Privacy
                                    &amp; Terms web page:"
                    )
                  }}
                  <a href="https://policies.google.com/privacy?hl=en"
                    >https://policies.google.com/privacy?hl=en</a
                  ><br />
                </li>
              </ul>
              <br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _("Links To Other Sites")
                }}</span></strong
              ><br /><br />
              {{
                _(
                  "Our Service may contain links to other sites that are not operated by us. If you click on a
                            third party link, you will be directed to that third party's site. We strongly advise you
                            to review the Privacy Policy of every site you visit."
                )
              }}<br /><br />{{
                _(
                  "We have no control over
                            and assume no responsibility for the content, privacy policies or practices of any third
                            party sites or services."
                )
              }}<br /><br />
              <strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _("Children's
                                    Privacy")
                }}</span></strong
              ><br /><br />{{
                _(
                  'Our Service does not address anyone under the
                            age of 18 ("Children").'
                )
              }}<br /><br />{{
                _(
                  "We do not knowingly collect personally identifiable
                            information from anyone under the age of 18. If you are a parent or guardian and you are
                            aware that your Children has provided us with Personal Data, please contact us. If we
                            become aware that we have collected Personal Data from children without verification of
                            parental consent, we take steps to remove that information from our servers."
                )
              }}<br /><br />
              <strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _(
                    "Changes To This Privacy
                                    Policy"
                  )
                }}</span></strong
              ><br /><br />{{
                _(
                  "We may update our Privacy Policy from time to
                            time. We will notify you of any changes by posting the new Privacy Policy on this page."
                )
              }}<br /><br />
              {{ _('We will let you know via email and/or a prominent notice on
              our Service, prior to the change becoming effective and update the
              "effective date" at the top of this Privacy Policy.') }}<br /><br />
              {{ _('You are advised to review this Privacy Policy periodically for any
              changes. Changes to this Privacy Policy are effective when they
              are posted on this page.') }}<br /><br />
              <strong
                ><span data-redactor-tag="span" style="font-size: 24px;">{{
                  _("Contact Us")
                }}</span></strong
              ><br /><br />
              {{
                _(
                  "If you have any questions about this Privacy Policy, please contact us:"
                )
              }}<br />
              <ul>
                <li>
                  {{ _("By email:") }}
                  <a href="mailto:bevbox.com.ua@gmail.com" style="">bevbox.com.ua@gmail.com</a>
                </li>
                <li>
                  {{ _("By visiting this page on our website:") }}
                  <a href="{{ url_for('app.contacts') }}"
                    >https://bevbox.com.ua/contacts</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </div>
</body>
{% endblock %}
