{% extends 'base.html' %}

{% block title %}{{ _("Bevbox Refund Policy") }}{% endblock %}
{% block og_url %}https://bevbox.com.ua/refund-policy/{% endblock %}
{% block og_title %}{{ _("Bevbox Refund Policy") }}{% endblock %}
{% block og_description %}{{ _("Refund Policy outline the main principles of the return process of a product.") }}{% endblock %}
{% block description %}{{ _("Refund Policy outline the main principles of the return process of a product.") }}{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/tild6363-3864-4362-b139-386362346438__pepi-stojanovski-509.jpg') }}{% endblock %}
{% block canonical %}refund-policy{% endblock %}

{% block body %}
<body class="t-body" style="margin:0;">
  <div
    id="allrecords"
    class="t-records"
    data-hook="blocks-collection-content-node"
    data-tilda-page-alias="refund-policy"
  >
    <div id="rec81542306" class="r t-rec" style=" " data-record-type="454">
      <!-- T454 -->
      <div id="nav81542306marker"></div>
      <div
        id="nav81542306"
        class="t454 t454__positionabsolute "
        style="background-color: rgba(20,20,20,0.0); height:100px; "
        data-bgcolor-hex="#141414"
        data-bgcolor-rgba="rgba(20,20,20,0.0)"
        data-navmarker="nav81542306marker"
        data-appearoffset=""
        data-bgopacity-two="100"
        data-menushadow="0"
        data-bgopacity="0.0"
        data-bgcolor-rgba-afterscroll="rgba(20,20,20,1)"
        data-menu-items-align=""
        data-menu="yes"
      >
        <div class="t454__maincontainer " style="height:100px;">
          <div class="t454__logowrapper">
            <div class="t454__logowrapper2">
              <div style="display: block;">
                <a href="{{ url_for('app.home') }}" style="color:#ffffff;">
                  <img
                    src="{{ url_for('static', filename='images/icon.svg') }}"
                    class="t454__imglogo t454__imglogomobile"
                    imgfield="img"
                    style="max-width: 150px; width: 150px;"
                    alt="Bevbox"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="t454__leftwrapper"
            style=" padding-right:125px; text-align: left;"
          >
            <div class="t454__leftmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
          <div
            class="t454__rightwrapper"
            style=" padding-left:125px; text-align: right;"
          >
            <div class="t454__rightmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
        </div>
      </div>
      <style>
        @media screen and (max-width: 980px) {
          #rec81542306 .t454__leftcontainer {
            padding: 20px;
          }
        }
        @media screen and (max-width: 980px) {
          #rec81542306 .t454__imglogo {
            padding: 20px 0;
          }
        }
      </style>
      <script type="text/javascript">
        $(document).ready(function() {
          t454_highlight();
        });
        $(window).resize(function() {
          t454_setBg("81542306");
        });
        $(document).ready(function() {
          t454_setBg("81542306");
        });
      </script>
      <!--[if IE 8]>
        <style>
          #rec81542306 .t454 {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9141414', endColorstr='#D9141414');
          }
        </style>
      <![endif]-->
    </div>
    <div
      id="rec81542325"
      class="r t-rec"
      style=" "
      data-animationappear="off"
      data-record-type="18"
    >
      <!-- cover -->
      <div
        class="t-cover"
        id="recorddiv81542325"
        bgimgfield="img"
        style="height:60vh; background-image:url('{{ url_for('static', filename='images/tild3661-3137-4566-b064-343631633939__-__resize__20x__pepi-stojanovski-509.jpg') }}');"
      >
        <div
          class="t-cover__carrier"
          id="coverCarry81542325"
          data-content-cover-id="81542325"
          data-content-cover-bg="{{ url_for('static', filename='images/tild3661-3137-4566-b064-343631633939__pepi-stojanovski-509.jpg') }}"
          data-content-cover-height="60vh"
          data-content-cover-parallax=""
          style="height:60vh;background-attachment:scroll; "
        ></div>
        <div
          class="t-cover__filter"
          style="height:60vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#7f000000');"
        ></div>
        <div class="t-container">
          <div class="t-col t-col_12 ">
            <div class="t-cover__wrapper t-valign_middle" style="height:60vh;">
              <div class="t001 t-align_center">
                <div class="t001__wrapper" data-hook-content="covercontent">
                  <h1
                    class="t001__title t-title t-title_xl"
                    style=""
                    field="title"
                  >
                    {{ _('REFUND POLICY') }}
                  </h1>
                  <span class="space"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="rec81542373"
      class="r t-rec t-rec_pt_60 t-rec_pb_60"
      style="padding-top:60px;padding-bottom:60px; "
      data-record-type="106"
    >
      <!-- T004 -->
      <div class="t004">
        <div class="t-container ">
          <div class="t-col t-col_8 t-prefix_2">
            <div field="text" class="t-text t-text_md " style="">
              {{ _('Our refund policy is as simple as ABC. If you are not satisfied
              with a delivered box and you didn\'t open a whiskey bottle, not
              smoked a cigar and saved the look of a magazine and the box, then just
              request a refund by means of') }}
              <a href="{{ url_for('app.contacts') }}" style="">{{ _('contact form') }}</a>
              {{ _('or by') }} <a href="mailto:bevbox.com.ua@gmail.com" style="">e-mail</a>.
              {{ _('In order to be able to get the refund, we need the following
              information and actions from you:') }}<br />
              <ul>
                <li>{{ _('send us back the box') }}</li>
                <li>{{ _('your credit card number for the refund') }}</li>
              </ul>
              <br />
              {{ _('In case you want to change only the contents of the box,
              we need from you the following information and actions:')}}<br />
              <ul>
                <li>{{ _('send us back the box') }}</li>
                <li>{{ _('provide us with information as in subscription form
                  through methods mentioned above') }}</li>
              </ul>
              {{ _('P.S. In a case of a refund/replacement, we are not cover shipping fees again.') }}<br />
              {{ _('That\'s it.') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </div>
</body>
{% endblock %}
