{% extends 'base.html' %}

{% block title %}{{ _("Bevbox Subscription") }}{% endblock %}
{% block og_url %}https://bevbox.com.ua/subscription/{% endblock %}
{% block og_title %}{{ _("Bevbox Subscription") }}{% endblock %}
{% block og_description %}{{ _("Bevbox subscription page.") }}{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/tild3463-3339-4135-b039-343164636433__eaters-collective-10.jpg') }}{% endblock %}
{% block canonical %}subscription{% endblock %}

{% block body %}
<body class="t-body" style="margin:0;">
  <!--allrecords-->
  <div
    id="allrecords"
    class="t-records"
    data-hook="blocks-collection-content-node"
    data-tilda-page-alias="subscription"
  >
    <div id="rec81509611" class="r t-rec" style=" " data-record-type="454">
      <!-- T454 -->
      <div id="nav81509611marker"></div>
      <div
        id="nav81509611"
        class="t454 t454__positionabsolute "
        style="background-color: rgba(20,20,20,0.0); height:100px; "
        data-bgcolor-hex="#141414"
        data-bgcolor-rgba="rgba(20,20,20,0.0)"
        data-navmarker="nav81509611marker"
        data-appearoffset=""
        data-bgopacity-two="100"
        data-menushadow="0"
        data-bgopacity="0.0"
        data-bgcolor-rgba-afterscroll="rgba(20,20,20,1)"
        data-menu-items-align=""
        data-menu="yes"
      >
        <div class="t454__maincontainer " style="height:100px;">
          <div class="t454__logowrapper">
            <div class="t454__logowrapper2">
              <div style="display: block;">
                <a href="{{ url_for('app.home') }}" style="color:#ffffff;">
                  <img
                    src="{{ url_for('static', filename='images/icon.svg') }}"
                    class="t454__imglogo t454__imglogomobile"
                    imgfield="img"
                    style="max-width: 150px; width: 150px;"
                    alt="Bevbox"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="t454__leftwrapper"
            style=" padding-right:125px; text-align: left;"
          >
            <div class="t454__leftmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
          <div
            class="t454__rightwrapper"
            style=" padding-left:125px; text-align: right;"
          >
            <div class="t454__rightmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
        </div>
      </div>
      <style>
        @media screen and (max-width: 980px) {
          #rec81509611 .t454__leftcontainer {
            padding: 20px;
          }
        }
        @media screen and (max-width: 980px) {
          #rec81509611 .t454__imglogo {
            padding: 20px 0;
          }
        }
      </style>
      <script type="text/javascript">
        $(document).ready(function() {
          t454_highlight();
        });
        $(window).resize(function() {
          t454_setBg("81509611");
        });
        $(document).ready(function() {
          t454_setBg("81509611");
        });
      </script>
      <!--[if IE 8]>
        <style>
          #rec81509611 .t454 {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9141414', endColorstr='#D9141414');
          }
        </style>
      <![endif]-->
    </div>
    <div
      id="rec81509640"
      class="r t-rec"
      style=" "
      data-animationappear="off"
      data-record-type="18"
    >
      <!-- cover -->
      <div
        class="t-cover"
        id="recorddiv81509640"
        bgimgfield="img"
        style="height:60vh; background-image:url('{{ url_for('static', filename='images/tild6534-3232-4236-a539-333531303036__-__resize__20x__eaters-collective-10.jpg') }}');"
      >
        <div
          class="t-cover__carrier"
          id="coverCarry81509640"
          data-content-cover-id="81509640"
          data-content-cover-bg="{{ url_for('static', filename='images/tild6534-3232-4236-a539-333531303036__eaters-collective-10.jpg') }}"
          data-content-cover-height="60vh"
          data-content-cover-parallax=""
          style="height:60vh;background-attachment:scroll; "
        ></div>
        <div
          class="t-cover__filter"
          style="height:60vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#7f000000');"
        ></div>
        <div class="t-container">
          <div class="t-col t-col_12 ">
            <div class="t-cover__wrapper t-valign_middle" style="height:60vh;">
              <div class="t001 t-align_center">
                <div class="t001__wrapper" data-hook-content="covercontent">
                  <h1
                    class="t001__title t-title t-title_xl"
                    style=""
                    field="title"
                  >
                    {{ _('SUBSCRIPTION') }}
                  </h1>
                  <span class="space"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="rec80724248"
      class="r t-rec t-rec_pt_105 t-rec_pb_105"
      style="padding-top:105px;padding-bottom:105px; "
      data-animationappear="off"
      data-record-type="678"
    >
      <!-- t678 -->
      <div class="t678 t-input_nomargin">
        <div class="t-container">
          <div class="t-col t-col_6 t-prefix_3">
            <div>
              <form
                id="form80724248"
                name="form80724248"
                role="form"
                action=""
                method="POST"
                data-formactiontype="0"
                data-inputbox=".t-input-group"
                class="t-form js-form-proccess t-form_inputs-total_7 t-form_bbonly "
                data-success-callback="t678_onSuccess"
              >
                <!-- NO ONE SERVICES CONNECTED -->
                <div
                  class="js-successbox t-form__successbox t-text t-text_md"
                  style="display:none;"
                ></div>
                <div class="t-form__inputsbox">
                  <div
                    class="t-input-group t-input-group_nm"
                    data-input-lid="1494858943227"
                  >
                    <div
                      class="t-input-title t-descr t-descr_md"
                      data-redactor-toolbar="no"
                      field="li_title__1494858943227"
                      style=""
                    >
                      {{ _('Name') }}
                    </div>
                    <div class="t-input-block">
                      <input
                        type="text"
                        name="Name"
                        class="t-input js-tilda-rule t-input_bbonly"
                        value=""
                        placeholder="John Doe"
                        data-tilda-req="1"
                        data-tilda-rule="name"
                        style="color:#000000; border:1px solid #000000; "
                      />
                      <div class="t-input-error"></div>
                    </div>
                  </div>
                  <div
                    class="t-input-group t-input-group_em"
                    data-input-lid="1493283059688"
                  >
                    <div
                      class="t-input-title t-descr t-descr_md"
                      data-redactor-toolbar="no"
                      field="li_title__1493283059688"
                      style=""
                    >
                      {{ _('E-mail') }}
                    </div>
                    <div class="t-input-block">
                      <input
                        type="text"
                        name="Email"
                        class="t-input js-tilda-rule t-input_bbonly"
                        value=""
                        placeholder="root@urk.net"
                        data-tilda-req="1"
                        data-tilda-rule="email"
                        style="color:#000000; border:1px solid #000000; "
                      />
                      <div class="t-input-error"></div>
                    </div>
                  </div>
                  <div
                    class="t-input-group t-input-group_ph"
                    data-input-lid="1495040492013"
                  >
                    <div
                      class="t-input-title t-descr t-descr_md"
                      data-redactor-toolbar="no"
                      field="li_title__1495040492013"
                      style=""
                    >
                      {{ _('Phone') }}
                    </div>
                    <div class="t-input-block">
                      <input
                        type="tel"
                        name="Phone"
                        class="t-input js-tilda-rule t-input_bbonly"
                        value=""
                        placeholder="+380951234567"
                        data-tilda-req="1"
                        data-tilda-rule="phone"
                        pattern="[0-9]*"
                        style="color:#000000; border:1px solid #000000; "
                      />
                      <div class="t-input-error"></div>
                    </div>
                  </div>
                  <div
                    class="t-input-group t-input-group_rd"
                    data-input-lid="1500392454224"
                  >
                    <div
                      class="t-input-title t-descr t-descr_md"
                      data-redactor-toolbar="no"
                      field="li_title__1500392454224"
                      style=""
                    >
                      {{ _('Choose a subscription plan') }}
                    </div>
                    <div class="t-input-block">
                      <div class="t-radio__wrapper">
                        <label
                          class="t-radio__control t-text t-text_xs"
                          style=""
                        >
                          <input
                            type="radio"
                            name="subscription"
                            class="t-radio js-tilda-rule"
                            data-tilda-req="1"
                            value="1"
                          />
                          <div class="t-radio__indicator"></div>
                          {{ _('Junior 1 month / ₴ 1373') }}
                        </label>
                        <label
                          class="t-radio__control t-text t-text_xs"
                          style=""
                        >
                          <input
                            type="radio"
                            name="subscription"
                            checked="checked"
                            class="t-radio js-tilda-rule"
                            data-tilda-req="1"
                            value="{{ subscription_type }} or 2"
                          />
                          <div class="t-radio__indicator"></div>
                          {{ _('Middle 2 months / ₴ 2608 (you save 5%(percent)s)', percent='%') }}
                        </label>
                        <label
                          class="t-radio__control t-text t-text_xs"
                          style=""
                        >
                          <input
                            type="radio"
                            name="subscription"
                            class="t-radio js-tilda-rule"
                            data-tilda-req="1"
                            value="3"
                          />
                          <div class="t-radio__indicator"></div>
                          {{ _('Senior 3 months / ₴ 3707 (you save 10%(percent)s)', percent='%') }}
                        </label>
                      </div>
                      <div class="t-input-error"></div>
                    </div>
                  </div>
                  <div
                    class="t-input-group t-input-group_in"
                    data-input-lid="1545603428371"
                  >
                    <div
                      class="t-input-title t-descr t-descr_md"
                      data-redactor-toolbar="no"
                      field="li_title__1545603428371"
                      style=""
                    >
                      {{ _('City') }}
                    </div>
                    <div class="t-input-block">
                      <input
                        type="text"
                        name="city"
                        class="t-input js-tilda-rule t-input_bbonly"
                        value=""
                        placeholder="Kyiv"
                        data-tilda-req="1"
                        style="color:#000000; border:1px solid #000000; "
                      />
                      <div class="t-input-error"></div>
                    </div>
                  </div>
                  <div
                    class="t-input-group t-input-group_in"
                    data-input-lid="1545603427044"
                  >
                    <div
                      class="t-input-title t-descr t-descr_md"
                      data-redactor-toolbar="no"
                      field="li_title__1545603427044"
                      style=""
                    >
                      {{ _('Department of New Post (NovaPoshta)') }}
                    </div>
                    <div class="t-input-block">
                      <input
                        type="text"
                        name="department"
                        class="t-input js-tilda-rule t-input_bbonly"
                        value=""
                        placeholder="1"
                        data-tilda-req="1"
                        style="color:#000000; border:1px solid #000000; "
                      />
                      <div class="t-input-error"></div>
                    </div>
                  </div>
                  <div
                    class="t-input-group t-input-group_ta"
                    data-input-lid="1546171909958"
                  >
                    <div
                      class="t-input-title t-descr t-descr_md"
                      data-redactor-toolbar="no"
                      field="li_title__1546171909958"
                      style=""
                    >
                      {{ _('Preferences') }}
                    </div>
                    <div class="t-input-block">
                      <textarea
                        name="preferences"
                        class="t-input js-tilda-rule t-input_bbonly"
                        placeholder="{{ _('I like a single malt whiskey etc. Leave blank if doesnt have one.') }}"
                        style="color:#000000; border:1px solid #000000; height:102px"
                        rows="3"
                      ></textarea>
                      <div class="t-input-error"></div>
                    </div>
                  </div>
                  <!--[if IE 8]>
                    <style>
                      .t-checkbox__control .t-checkbox,
                      .t-radio__control .t-radio {
                        left: 0px;
                        z-index: 1;
                        opacity: 1;
                      }
                      .t-checkbox__indicator,
                      .t-radio__indicator {
                        display: none;
                      }
                      .t-img-select__control .t-img-select {
                        position: static;
                      }
                    </style>
                  <![endif]-->
                  <div class="t-form__errorbox-middle">
                    <div
                      class="js-errorbox-all t-form__errorbox-wrapper"
                      style="display:none;"
                    >
                      <div class="t-form__errorbox-text t-text t-text_md">
                        <p
                          class="t-form__errorbox-item js-rule-error js-rule-error-all"
                        ></p>
                        <p
                          class="t-form__errorbox-item js-rule-error js-rule-error-req"
                        ></p>
                        <p
                          class="t-form__errorbox-item js-rule-error js-rule-error-email"
                        ></p>
                        <p
                          class="t-form__errorbox-item js-rule-error js-rule-error-name"
                        ></p>
                        <p
                          class="t-form__errorbox-item js-rule-error js-rule-error-phone"
                        ></p>
                        <p
                          class="t-form__errorbox-item js-rule-error js-rule-error-string"
                        ></p>
                      </div>
                    </div>
                  </div>
                  <div class="t-form__submit">
                    <button
                      type="submit"
                      class="t-submit"
                      style="color:#ffffff;background-color:#303030;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;"
                      data-btneffects-first="btneffects-ripple"
                    >
                      {{ _('Subscribe now') }}
                    </button>
                  </div>
                </div>
                <div class="t-form__errorbox-bottom">
                  <div
                    class="js-errorbox-all t-form__errorbox-wrapper"
                    style="display:none;"
                  >
                    <div class="t-form__errorbox-text t-text t-text_md">
                      <p
                        class="t-form__errorbox-item js-rule-error js-rule-error-all"
                      ></p>
                      <p
                        class="t-form__errorbox-item js-rule-error js-rule-error-req"
                      ></p>
                      <p
                        class="t-form__errorbox-item js-rule-error js-rule-error-email"
                      ></p>
                      <p
                        class="t-form__errorbox-item js-rule-error js-rule-error-name"
                      ></p>
                      <p
                        class="t-form__errorbox-item js-rule-error js-rule-error-phone"
                      ></p>
                      <p
                        class="t-form__errorbox-item js-rule-error js-rule-error-string"
                      ></p>
                    </div>
                  </div>
                </div>
              </form>
              <style>
                #rec80724248 input::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
                #rec80724248 input::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
                #rec80724248 input:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
                #rec80724248 input:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
                #rec80724248 textarea::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
                #rec80724248 textarea::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
                #rec80724248 textarea:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
                #rec80724248 textarea:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                }
              </style>
            </div>
            <div class="t678__form-bottom-text t-text t-text_xs" field="text">
              {{ _('By clicking the button you agree our') }}
              <a
                href="{{ url_for('app.privacy_policy') }}"
                target="_blank"
                style=""
                >{{ _('Privacy Policy') }}</a
              >
              &amp;
              <a
                href="{{ url_for('app.terms_of_use') }}"
                style=""
                target="_blank"
                >{{ _('Terms of use') }}</a
              >
            </div>
          </div>
        </div>
      </div>
      <style>
        #rec80724248 .t-btn[data-btneffects-first],
        #rec80724248 .t-btn[data-btneffects-second],
        #rec80724248 .t-submit[data-btneffects-first],
        #rec80724248 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        #rec80724248
          .t-btn[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects,
        #rec80724248
          .t-submit[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        #rec80724248
          .t-btn[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects::after,
        #rec80724248
          .t-submit[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects::after {
          content: "";
          position: absolute;
          height: 350%;
          width: 200%;
          top: 0;
          left: -100%;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          z-index: 20;
          -webkit-animation-name: ripple;
          animation-name: ripple;
          -webkit-animation-duration: 6s;
          animation-duration: 6s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
        }
        #rec80724248
          .t-btn[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects_md::after,
        #rec80724248
          .t-submit[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects_md::after {
          left: -130%;
        }
        #rec80724248
          .t-btn[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects_lg::after,
        #rec80724248
          .t-submit[data-btneffects-first="btneffects-ripple"]
          .t-btn_effects_lg::after {
          left: -150%;
        }
        @-webkit-keyframes ripple {
          20% {
            opacity: 0;
            -webkit-transform: scale(2.5);
            transform: scale(2.5);
          }
          100% {
            opacity: 0;
            -webkit-transform: scale(2.5);
            transform: scale(2.5);
          }
        }
        @keyframes ripple {
          20% {
            opacity: 0;
            -webkit-transform: scale(2.5);
            transform: scale(2.5);
          }
          100% {
            opacity: 0;
            -webkit-transform: scale(2.5);
            transform: scale(2.5);
          }
        }
      </style>
      <script type="text/javascript">
        $(document).ready(function() {
          $(
            "#rec80724248 .t-btn[data-btneffects-first], #rec80724248 .t-submit[data-btneffects-first]"
          ).append('<div class="t-btn_effects"></div>');
          if (
            $(
              "#rec80724248 .t-btn[data-btneffects-first], #rec80724248 .t-submit"
            ).outerWidth() > 260
          ) {
            $(
              "#rec80724248 .t-btn[data-btneffects-first] .t-btn_effects, #rec80724248 .t-submit[data-btneffects-first] .t-btn_effects"
            ).addClass("t-btn_effects_md");
          }
          if (
            $(
              "#rec80724248 .t-btn[data-btneffects-first], #rec80724248 .t-submit"
            ).outerWidth() > 360
          ) {
            $(
              "#rec80724248 .t-btn[data-btneffects-first] .t-btn_effects, #rec80724248 .t-submit[data-btneffects-first] .t-btn_effects"
            ).removeClass("t-btn_effects_md");
            $(
              "#rec80724248 .t-btn[data-btneffects-first] .t-btn_effects, #rec80724248 .t-submit[data-btneffects-first] .t-btn_effects"
            ).addClass("t-btn_effects_lg");
          }
        });
      </script>
    </div>
    {% include 'footer.html' %}
  </div>
</body>
{% endblock %}
