{% extends 'base.html' %}

{% block title %}{{ _("Bevbox Subscription") }}{% endblock %}
{% block og_url %}https://bevbox.com.ua/terms-of-use/{% endblock %}
{% block og_title %}{{ _("Bevbox Terms of Use") }}{% endblock %}
{% block og_description %}{{ _("Terms of Use govern your use of our service and provide information about the Bevbox.") }}{% endblock %}
{% block og_image %}{{ url_for('static', filename='images/tild3564-3863-4535-b935-383339393338__luke-palmer-305434-u.jpg') }}{% endblock %}
{% block canonical %}terms-of-use{% endblock %}

{% block body %}
<body class="t-body" style="margin:0;">
  <!--allrecords-->
  <div
    id="allrecords"
    class="t-records"
    data-hook="blocks-collection-content-node"
    data-tilda-page-alias="terms-of-use"
  >
    <div id="rec81541140" class="r t-rec" style=" " data-record-type="454">
      <!-- T454 -->
      <div id="nav81541140marker"></div>
      <div
        id="nav81541140"
        class="t454 t454__positionabsolute "
        style="background-color: rgba(20,20,20,0.0); height:100px; "
        data-bgcolor-hex="#141414"
        data-bgcolor-rgba="rgba(20,20,20,0.0)"
        data-navmarker="nav81541140marker"
        data-appearoffset=""
        data-bgopacity-two="100"
        data-menushadow="0"
        data-bgopacity="0.0"
        data-bgcolor-rgba-afterscroll="rgba(20,20,20,1)"
        data-menu-items-align=""
        data-menu="yes"
      >
        <div class="t454__maincontainer " style="height:100px;">
          <div class="t454__logowrapper">
            <div class="t454__logowrapper2">
              <div style="display: block;">
                <a href="{{ url_for('app.home') }}" style="color:#ffffff;">
                  <img
                    src="{{ url_for('static', filename='images/icon.svg') }}"
                    class="t454__imglogo t454__imglogomobile"
                    imgfield="img"
                    style="max-width: 150px; width: 150px;"
                    alt="Bevbox"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="t454__leftwrapper"
            style=" padding-right:125px; text-align: left;"
          >
            <div class="t454__leftmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
          <div
            class="t454__rightwrapper"
            style=" padding-left:125px; text-align: right;"
          >
            <div class="t454__rightmenuwrapper">
              <ul class="t454__list"></ul>
            </div>
          </div>
        </div>
      </div>
      <style>
        @media screen and (max-width: 980px) {
          #rec81541140 .t454__leftcontainer {
            padding: 20px;
          }
        }
        @media screen and (max-width: 980px) {
          #rec81541140 .t454__imglogo {
            padding: 20px 0;
          }
        }
      </style>
      <script type="text/javascript">
        $(document).ready(function() {
          t454_highlight();
        });
        $(window).resize(function() {
          t454_setBg("81541140");
        });
        $(document).ready(function() {
          t454_setBg("81541140");
        });
      </script>
      <!--[if IE 8]>
        <style>
          #rec81541140 .t454 {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9141414', endColorstr='#D9141414');
          }
        </style>
      <![endif]-->
    </div>
    <div
      id="rec81541147"
      class="r t-rec"
      style=" "
      data-animationappear="off"
      data-record-type="18"
    >
      <!-- cover -->
      <div
        class="t-cover"
        id="recorddiv81541147"
        bgimgfield="img"
        style="height:60vh; background-image:url('{{ url_for('static', filename='images/tild3063-3632-4565-b336-663461663566__-__resize__20x__luke-palmer-305434-u.jpg') }}');"
      >
        <div
          class="t-cover__carrier"
          id="coverCarry81541147"
          data-content-cover-id="81541147"
          data-content-cover-bg="{{ url_for('static', filename='images/tild3063-3632-4565-b336-663461663566__luke-palmer-305434-u.jpg') }}"
          data-content-cover-height="60vh"
          data-content-cover-parallax=""
          style="height:60vh;background-attachment:scroll; "
        ></div>
        <div
          class="t-cover__filter"
          style="height:60vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#7f000000');"
        ></div>
        <div class="t-container">
          <div class="t-col t-col_12 ">
            <div class="t-cover__wrapper t-valign_middle" style="height:60vh;">
              <div class="t001 t-align_center">
                <div class="t001__wrapper" data-hook-content="covercontent">
                  <h1
                    class="t001__title t-title t-title_xl"
                    style=""
                    field="title"
                  >
                    {{ _('TERMS OF USE') }}
                  </h1>
                  <span class="space"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="rec81541155"
      class="r t-rec t-rec_pt_60 t-rec_pb_60"
      style="padding-top:60px;padding-bottom:60px; "
      data-record-type="106"
    >
      <!-- T004 -->
      <div class="t004">
        <div class="t-container ">
          <div class="t-col t-col_8 t-prefix_2">
            <div field="text" class="t-text t-text_md " style="">
              <strong><span data-redactor-tag="span" style="font-size: 24px;">
                  Welcome to Bevbox
                </span></strong><br /><br />
              {{ _('These Terms of Use outline the rules and regulations for the use
              of Bevbox\'s Website.<br /><br />Bevbox is located at:<br />
              <em>Kyiv , Ukraine<br /></em><br />By
              accessing this website we assume you accept these terms and
              conditions in full. Do not continue to use Bevbox\'s website if you
              do not accept all of the terms and conditions stated on this page.') }}
              <br /><br />
              {{ _('The following terminology applies to these Terms of Use,') }}
              <a href="#disclaimer" style="">{{ _('Disclaimer Notice') }}</a>,
              <a href="{{ url_for('app.privacy_policy') }}" style="">
                {{ _('Privacy Policy') }}
              </a>
              {{ _('and any agreements: "Client", "You" and "Your" refers to you, the
              person accessing this website and accepting the Company\'s terms
              and conditions. "The Company", "Ourselves", "We", "Our" and "Us",
              refers to our Company. "Party", "Parties", or "Us", refers to both
              the Client and ourselves, or either the Client or ourselves. All
              terms refer to the offer, acceptance and consideration of payment
              necessary to undertake the process of our assistance to the Client
              in the most appropriate manner, whether by formal meetings of a
              fixed duration, or any other means, for the express purpose of
              meeting the Client\'s needs in respect of provision of the
              Company\'s stated services/products, in accordance with and subject
              to, prevailing law of Ukraine. Any use of the above terminology or
              other words in the singular, plural, capitalisation and/or he/she
              or they, are taken as interchangeable and therefore as referring
              to same.') }}<br /><br /><span style="font-size: 24px;"
                ><strong>{{ _('Terms of service') }}<br /><br /></strong></span
              >{{ _('Service is a set of whiskey, cigar, magazine &amp; paper box,
              hereinafter reffered to as the ') }}"<strong>{{ _('box') }}</strong>".<br />
              {{ _('We send you a box on the first dates of a next month after successful
              payment. That means if you paid in January, the box will be
              delivered to you on February. The same rule applied to 2-months,
              3-months subscriptions types, you will receive another box on
              first dates of the month after the current month.') }}<br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;"
                  >{{ _('Cookies') }}</span
                ></strong
              >
              <br /><br />
              {{ _('We employ the use of cookies. By using Bevbox\'s website you
              consent to the use of cookies in accordance with Bevbox\'s') }}
              <a href="{{ url_for('app.privacy_policy') }}" style=""
                >{{ _('Privacy Policy') }}</a
              >. <br /><br />
              {{ _('Most of the modern day interactive web sites use cookies to enable
              us to retrieve user details for each visit. Cookies are used in
              some areas of our site to enable the functionality of this area
              and ease of use for those people visiting. Some of our affiliate
              /advertising partners may also use cookies.') }}<br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;"
                  >{{ _('License') }}</span
                ></strong
              ><br /><br />
              {{ _('Unless otherwise stated, Bevbox and/or it\'s licensors own the
              intellectual property rights for all material on Bevbox. All
              intellectual property rights are reserved. You may view and/or
              print pages from') }}
              <a href="https://bevbox.com.ua" style="">https://bevbox.com.ua</a>
              {{ _('for your own personal use subject to restrictions set in these
              terms and conditions.') }}<br /><br />
              {{ _('You must not do without prior written approval:') }} <br />
              <ol>
                <li>
                  {{ _('Republish material from') }}
                  <a href="https://bevbox.com.ua" style=""
                    >https://bevbox.com.ua</a
                  >.
                </li>
                <li>
                  {{ _('Sell, rent or sub-license material from') }}
                  <a href="https://bevbox.com.ua" style=""
                    >https://bevbox.com.ua</a
                  >.
                </li>
                <li>
                  {{ _('Reproduce, duplicate or copy material from') }}
                  <a href="https://bevbox.com.ua" style=""
                    >https://bevbox.com.ua</a
                  >.
                </li>
              </ol>
              {{ _('Redistribute content from Bevbox (unless content is specifically
              made for redistribution).') }}<br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;"
                  >{{ _('Hyperlinking to our Content') }}</span
                ></strong
              ><br /><br />
              <ol>
                <li>
                  {{ _('The following organizations may link to our Web site without
                  prior written approval:') }}
                  <ol>
                    <li>{{ _('Government agencies;') }}</li>
                    <li>{{ _('Search engines;') }}</li>
                    <li>{{ _('News organizations;') }}</li>
                    <li>
                      {{ _('Online directory distributors when they list us in the
                      directory may link to our Web site in the same manner as
                      they hyperlink to the Web sites of other listed
                      businesses; and') }}
                    </li>
                    <li>
                      {{ _('Systemwide Accredited Businesses except soliciting
                      non-profit organizations, charity shopping malls, and
                      charity fundraising groups which may not hyperlink to our
                      Web site.') }}
                    </li>
                  </ol>
                </li>
              </ol>
              <ol>
                <li>
                  {{ _('These organizations may link to our home page, to publications
                  or to other Web site information so long as the link: (a) is
                  not in any way misleading; (b) does not falsely imply
                  sponsorship, endorsement or approval of the linking party and
                  its products or services; and (c) fits within the context of
                  the linking party\'s site.') }}
                </li>
                <li>
                  {{ _('We may consider and approve in our sole discretion other link
                  requests from the following types of organizations:') }}
                  <ol>
                    <li>
                      {{ _('commonly-known consumer and/or business information
                      sources such as Chambers of Commerce, American Automobile
                      Association, AARP and Consumers Union;') }}
                    </li>
                    <li>{{ _('dot.com community sites;') }}</li>
                    <li>
                      {{ _('associations or other groups representing charities,
                      including charity giving sites,') }}
                    </li>
                    <li>{{ _('online directory distributors;') }}</li>
                    <li>{{ _('internet portals;') }}</li>
                    <li>
                      {{ _('accounting, law and consulting firms whose primary clients
                      are businesses; and') }}
                    </li>
                    <li>{{ _('educational institutions and trade associations.') }}</li>
                  </ol>
                </li>
              </ol>
              {{ _('We will approve link requests from these organizations if we
              determine that: (a) the link would not reflect unfavorably on us
              or our accredited businesses (for example, trade associations or
              other organizations representing inherently suspect types of
              business, such as work-at-home opportunities, shall not be allowed
              to link); (b)the organization does not have an unsatisfactory
              record with us; (c) the benefit to us from the visibility
              associated with the hyperlink outweighs the absence of ; and (d)
              where the link is in the context of general resource information
              or is otherwise consistent with editorial content in a newsletter
              or similar product furthering the mission of the organization.') }}
              <br /><br />
              {{ _('These organizations may link to our home page, to publications or
              to other Web site information so long as the link: (a) is not in
              any way misleading; (b) does not falsely imply sponsorship,
              endorsement or approval of the linking party and it products or
              services; and (c) fits within the context of the linking party\'s
              site.') }} <br /><br />
              {{ _('If you are among the organizations listed in paragraph 2 above and
              are interested in linking to our website, you must notify us by
              sending an e-mail to') }}
              <a href="mailto:bevbox.com.ua@gmail.com">bevbox.com.ua@gmail.com</a>. {{ _('Please include
              your name, your organization name, contact information (such as a
              phone number and/or e-mail address) as well as the URL of your
              site, a list of any URLs from which you intend to link to our Web
              site, and a list of the URL(s) on our site to which you would like
              to link. Allow 2-3 weeks for a response.') }}
              <br /><br />
              {{ _('Approved organizations may hyperlink to our Web site as follows:') }}
              <br /><br />
              <ol>
                <li>{{ _('By use of our corporate name; or') }}</li>
                <li>
                  {{ _('By use of the uniform resource locator (Web address) being
                  linked to; or') }}
                </li>
                <li>
                  {{ _('By use of any other description of our Web site or material
                  being linked to that makes sense within the context and format
                  of content on the linking party\'s site.') }}
                </li>
              </ol>
              {{ _('No use of Bevbox\'s logo or other artwork will be allowed for
              linking absent a trademark license agreement.') }}
              <br /><br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;"
                  >{{ _('Iframes') }}</span
                ></strong
              ><br /><br />
              {{ _('Without prior approval and express written permission, you may not
              create frames around our Web pages or use other techniques that
              alter in any way the visual presentation or appearance of our Web
              site.') }}
              <br /><br />
              <span style="font-size: 24px;"
                ><strong>{{ _('Reservation of Rights') }}</strong></span
              ><br /><br />
              {{ _('We reserve the right at any time and in its sole discretion to
              request that you remove all links or any particular link to our
              Web site. You agree to immediately remove all links to our Web
              site upon such request. We also reserve the right to amend these
              terms and conditions and its linking policy at any time. By
              continuing to link to our Web site, you agree to be bound to and
              abide by these linking terms and conditions.') }}<br /><span
                style="font-size: 24px;"
                ><br />
                <strong>{{ _('Removal of links from our website') }}</strong></span
              ><br /><br />
              {{ _('If you find any link on our Web site or any linked web site
              objectionable for any reason, you may contact us about this. We
              will consider requests to remove links but will have no obligation
              to do so or to respond directly to you.') }}<br /><br />
              {{ _('Whilst we endeavour to ensure that the information on this website
              is correct, we do not warrant its completeness or accuracy; nor do
              we commit to ensuring that the website remains available or that
              the material on the website is kept up to date.') }}
              <br /><span
                style="font-size: 24px;"
                ><br />
                <strong>{{ _('Content Liability') }}</strong></span
              ><br /><br />
              {{ _('We shall have no responsibility or liability for any content
              appearing on your Web site. You agree to indemnify and defend us
              against all claims arising out of or based upon your Website. No
              link(s) may appear on any page on your Web site or within any
              context containing content or materials that may be interpreted as
              libelous, obscene or criminal, or which infringes, otherwise
              violates, or advocates the infringement or other violation of, any
              third party rights.') }}
              <br /><br />
              <span style="font-size: 24px;"
                ><strong><a name="disclaimer">{{ _('Disclaimer') }}</a></strong></span
              >
              <br /><br />
              {{ _('To the maximum extent permitted by applicable law, we exclude all
              representations, warranties and conditions relating to our website
              and the use of this website (including, without limitation, any
              warranties implied by law in respect of satisfactory quality,
              fitness for purpose and/or the use of reasonable care and skill).
              Nothing in this disclaimer will:') }}
              <br /><br />
              <ol>
                <li>
                  {{ _('limit or exclude our or your liability for death or personal
                  injury resulting from negligence;') }}
                </li>
                <li>
                  {{ _('limit or exclude our or your liability for fraud or fraudulent
                  misrepresentation;') }}
                </li>
                <li>
                  {{ _('limit any of our or your liabilities in any way that is not
                  permitted under applicable law; or') }}
                </li>
                <li>
                  {{ _('exclude any of our or your liabilities that may not be
                  excluded under applicable law;') }}
                </li>
                <li>
                  {{ _('we are not responsible for damages caused by the work of the
                  third-party and force majeure circumstances against on a box.') }}
                </li>
              </ol>
              {{ _('The limitations and exclusions of liability set out in this
              Section and elsewhere in this disclaimer: (a) are subject to the
              preceding paragraph; and (b) govern all liabilities arising under
              the disclaimer or in relation to the subject matter of this
              disclaimer, including liabilities arising in contract, in tort
              (including negligence) and for breach of statutory duty.') }}
              <br /><br />
              {{ _('To the extent that the website and the information and services on
              the website are provided free of charge, we will not be liable for
              any loss or damage of any nature.') }}
              <br /><br /><strong
                ><span data-redactor-tag="span" style="font-size: 24px;"
                  >{{ _('Contact Us') }}</span
                ></strong
              ><br /><br />
              {{ _('If you have any questions about this Terms of Use,
              please contact us:') }}<br />
              <ul>
                <li>
                  {{ _('By email:') }} <a href="mailto:bevbox.com.ua@gmail.com">bevbox.com.ua@gmail.com</a>
                </li>
                <li>
                  {{ _('By visiting this page on our website:') }}
                  <a href="{{ url_for('app.contacts') }}"
                    >https://bevbox.com.ua/contacts</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </div>
</body>
{% endblock %}
