{% extends 'base.html' %}

{% block title %}{{ _("Page not found") }}{% endblock %}

{% block body %}
<body class="t-body" style="margin:0;">
  <!--allrecords-->
  <div
    id="allrecords"
    class="t-records"
    data-hook="blocks-collection-content-node"
    data-tilda-project-id="897451"
    data-tilda-page-id="4451985"
    data-tilda-page-alias="error404"
    data-tilda-formskey="5df6a45fd3505c391e2b335da082fd1c"
  >
    <div
      id="rec81535751"
      class="r t-rec"
      style=" "
      data-animationappear="off"
      data-record-type="14"
    >
      <!-- cover -->
      <div
        class="t-cover"
        id="recorddiv81535751"
        bgimgfield="img"
        style="height:100vh; background-image:url('../static/images/tild3235-6531-4864-a239-393766663461__-__resize__20x__daniel-vogel-714000-.jpg');"
      >
        <div
          class="t-cover__carrier"
          id="coverCarry81535751"
          data-content-cover-id="81535751"
          data-content-cover-bg="{{ url_for('static', filename='images/tild3235-6531-4864-a239-393766663461__daniel-vogel-714000-.jpg') }}"
          data-content-cover-height="100vh"
          data-content-cover-parallax="fixed"
          style="height:100vh; "
        ></div>
        <div
          class="t-cover__filter"
          style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -o-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));background-image: linear-gradient(top, rgba(0,0,0,0.70), rgba(0,0,0,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4c000000', endColorstr='#4c000000');"
        ></div>
        <div class="t-container">
          <div class="t-col t-col_12">
            <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
              <div class="t102" data-hook-content="covercontent">
                <div
                  class="t102__title t-title"
                  style="text-transform:uppercase;"
                  field="title"
                >
                  {{ _("404 error") }}
                </div>
                <div
                  class="t102__descr t-descr t-descr_md"
                  style=""
                  field="descr"
                >
                  {{ _("Page not found.") }}
                </div>
                <span class="space"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
