<div id="rec80724881" class="r t-rec t-rec_pb_60" style="padding-bottom:60px;background-color:#111111; "
            data-animationappear="off" data-record-type="389" data-bg-color="#111111">
            <!-- T389 -->
            <div class="t389" id="t-footer_80724881">
                <div class="t389__maincontainer" style="height: 70px;">
                    <div class="t389__content">
                        <div class="t389__col t389__col_hiddenmobile">
                            <div class="t389__typo t389__copyright t-name t-name_xs" field="text" style="color: #ffffff;">
                                © 2018 Bevbox </div>
                        </div>
                        <div class="t389__col t389__col_center t-align_center">
                            <div class="t389__centercontainer">
                                <ul class="t389__list">
                                    <li class="t389__list_item t-name t-name_xs"><a class="t389__typo" style="color: #ffffff;"
                                            href="{{ url_for('app.terms_of_use') }}" data-menu-item-number="1">{{ _('Terms of Use') }}</a></li>
                                    <li class="t389__list_item t-name t-name_xs"><a class="t389__typo" style="color: #ffffff;"
                                            href="{{ url_for('app.privacy_policy') }}" data-menu-item-number="2">{{ _('Privacy Policy') }}</a></li>
                                    <li class="t389__list_item t-name t-name_xs"><a class="t389__typo" style="color: #ffffff;"
                                            href="{{ url_for('app.refund_policy') }}" data-menu-item-number="3">{{ _('Refund Policy') }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="t389__col t389__col_mobile">
                            <div class="t389__typo t389__copyright t-name t-name_xs" field="text" style="color: #ffffff;">
                                © 2018 Bevbox </div>
                        </div>
                        <div class="t389__col">
                            <div class="t389__scroll t-align_right">
                                <a class="t389__typo t-name t-name_xs t389_scrolltop" style="color: #ffffff;" href="javascript:t389_scrollToTop();">
                                    Back to top
                                    <span class="t389__icon">
                                        <svg width="5px" height="17px" viewBox="0 0 6 20" version="1.1">
                                            <defs></defs>
                                            <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                                sketch:type="MSPage">
                                                <g id="Desktop-HD-Copy-39" sketch:type="MSArtboardGroup" transform="translate(-569.000000, -1797.000000)"
                                                    fill="#ffffff">
                                                    <path d="M565.662286,1804.2076 L562.095536,1806.87166 C561.958036,1807.00916 561.958036,1807.16385 562.095536,1807.30135 L565.662286,1809.96541 C565.799786,1810.10291 565.941411,1810.0431 565.941411,1809.83616 L565.941411,1808.11741 L581.816411,1808.11741 L581.816411,1806.05491 L565.941411,1806.05491 L565.941411,1804.33616 C565.941411,1804.18147 565.866474,1804.1141 565.769536,1804.14297 C565.737224,1804.1526 565.696661,1804.17322 565.662286,1804.2076 Z"
                                                        id="Shape" sketch:type="MSShapeGroup" transform="translate(571.904411, 1807.088000) rotate(-270.000000) translate(-571.904411, -1807.088000) "></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
